[user]
	name = Lasse Mejlvang Tvedt
	email = himself@lassemt.com
	signingkey = 11A5BF9DD0BC50F6

[includeIf "hasconfig:remote.*.url:git@github.schibsted.io:*/**"]
	path = .gitconfig.schibsted

[core]
	editor = '/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl' -n -w
  # Make `git rebase` safer on macOS
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
  interactive = auto

[gpg]
	program = /opt/homebrew/bin/gpg

[commit]
  gpgsign = true
  
[github]
  user = lassemt
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[pull]
	rebase = false
[init]
	defaultBranch = main
