.DS_Store

ssh/*
!ssh/.ssh/config

etc/.config
!etc/.config/nvim

*.cache

sublime/User/Package\ Control.last-run
sublime/User/Package\ Control.merged-ca-bundle
sublime/User/oscrypto-ca-bundle.crt
sublime/User/Default\ (OSX).sublime-keymap